<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my-first-blog</title>
</head>
<body>
    <div>
        <h1><a href="/"</div></a></h1>
    </div>

    <div>
        <p>published: 25.04.2020, 18:08</p>
        <h2><a href="">Мой любимый язык программирования</a></h2>
        <p>Мой любимый язык - Python! Он красивый, простой, и интересный:)</p>
    </div>

    <div>
        <p>published: 25.04.2020, 18:08</p>
        <h2><a href="">Насколько перспективно учить Tornado?</a></h2>
        <p>С обновлением Tornado до 2 версии он стал невероятно удобным языком. Мое мнение: Tornado один из самых перпесктивных языков программирования</p>
    </div>
</body>
</html>